extends loggedin.pug
block all
    div.container
        for curr_course in courses
            div.col.s5
                div.course
                    table.courseTable
                        thead(style=`background-color:${curr_course.colour}`)
                            tr
                                th #{curr_course.name}
                                th
                                th 100%
                            tr
                                th Assignment
                                th Weight
                                th Grade
                        - let currAssignmentList = assignments.filter(elem => elem.courseid = curr_course.id)
                        for assig in currAssignmentList
                            tr
                                td(style="display:none;") #{assig.id}
                                td #{assig.name}
                                td #{assig.weight}
                                td
                                    input.grade(type="text", value=assig.grade) 
                            

                            
    style.
        table {
            border: 2px solid;
        }
        tr {
            line-height: 0px;
        }
block scripts
    script(type='text/javascript').
        let courseList = !{JSON.stringify(courses)};
    script(src="js/gpa.js")
    