html
    head
        title BetterThanExcel
        link(rel='stylesheet', href='css/materialize.css', type='text/css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        nav
            div.nav-wrapper
                a(href="#", class="brand-logo", style="padding-left: 10px;") BetterThanExcel
                //ul.right.hide-on-med-and-down
                //    li
                //        a
                //            i.material-icons menu
        div.container
            div.col.s12
                table.highlight
                    thead
                        tr
                            th Item
                            th Course
                            th Due Date
                            th(style="width: 16px") Completed

                        for curr_item in assignments
                            // TODO: Colour coding
                            tr(class=curr_item.done == 1 ? 'grey' : 'white')
                                td(style="display:none;") #{curr_item.id}
                                td #{curr_item.name}
                                td #{curr_item.course}
                                - var dateopts = {weekday: "long", year: "numeric", month: "long", day: "numeric"}
                                td #{new Date(curr_item.due).toLocaleString("en-US", dateopts)}
                                td.center
                                    label
                                        input(type='checkbox', id=curr_item.id, checked=curr_item.done == 1, onclick=`sendCompleted(this)`)
                                        span

            div.card
                div.card-content
                    span.card-title Add New Item
                    div.row
                        form.col.s12(id="newitemform")
                            div.input-field.col.s4
                                input(placeholder="Title",name="title", type="text", class="validate")
                                label(for="title") Title
                            div.input-field.col.s4
                                input.autocomplete(placeholder="Course", id="course", name="course", type="text", class="validate")
                                label(for="course") Course
                            div.input-field.col.s4
                                input(placeholder="Due Date", id="date", name="due", type="date", class="validate", max="2999-12-31")
                                label(for="due") Due Date
                            div.card-action
                                a(href="#", onclick="newitem()", id="submit").right.orange-text Add




        script(type='text/javascript', src='js/materialize.min.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="js/formHandler.js")
        script(type='text/javascript').

            let options = {
                data: {
                    "ENGINEER 1P13B": null,
                    "MATH 1ZC3": null,
                    "MATH 1ZB3": null,
                    "PHYSICS 1E03": null
                }
            }

            document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('.autocomplete');
                var instances = M.Autocomplete.init(elems, options);
            });

            $('#date').keyup(function (e) {
                if (e.keyCode === 13) {
                    newitem();
                }
            })

            function newitem() {
                let empties = 0
                $(':input').each(function () {
                    if ($(this).val() == "") {
                        empties++;
                    }
                })
                if (empties > 0) {
                    return
                }
                fetch("/newitem", {
                    method: "POST",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(objectifyForm($('#newitemform').serializeArray()))
                }).then(res => {
                    location.reload()
                });
            }

            function sendCompleted(self) {
                console.log()
                let done = $(self).is(':checked')
                let item = $(self).closest('tr').find('td:first').text()
                let data = {item, done}
                fetch("/complete", {
                    method: "POST",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data)
                }).then(res => {
                    // console.log("Request complete! response:", res);
                });
                $(self).closest('tr')[0].classList.replace(done ? 'white' : 'grey', done ? 'grey' : 'white');
            }



